// Base elements
:root {
  @include fluid-typo(15, 16, $phone-h-computed, $desktop-computed);
  font-family: $font-base;
  font-weight: $font-weight--base;
  line-height: 1.45;
  color: $color--text;
  background-color: $color--white;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/* selection */
::selection {
  color: $color--black;
  background: $color--yellow;
}

body {
  padding: 0;
  margin: 0;
}

/* img */
img {
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

/* clearfix */
%clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
