/* Base elements */
:root {
  @include fluid-typo(15, 16, $phone-h-computed, $desktop-computed);

  font-family: $font-base;
  font-weight: $font-weight--thin;
  line-height: 1.45;
  color: $color--text;
  background-color: $color--white;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/* selection */
::selection {
  color: $color--black;
  background: $color--yellow;
}

body {
  padding: 0;
  margin: 0;
  border: 6px solid transparent;

  &::after,
  &::before {
    z-index: 100;
    content: '';
    user-select: none;
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: inherit;
    border-bottom-width: 0;
    border-color: $color--main;
  }

  &::after {
    border-width: 0;
    border-bottom-width: 6px;
    border-color: $color--main;
  }
}

/* img */
img {
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

/* clearfix */
%clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
