/* Figure element */

figure {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

figure>img {
  display: block;
}

figcaption {
  font-size: var(--font-size-xs);
  margin-top: $spacing--tiny;
  color: $color--grey;
  text-align: center;
}