/*------------------------------------*\
    #HEADING ELEMENTS
\*------------------------------------*/


$heading-size-1:  $font-size--huge !default;
$heading-size-2:  $font-size--large !default;
$heading-size-3:  $font-size--medium !default;
$heading-size-4:  $font-size-base !default;
$heading-size-5:  $font-size--small !default;
$heading-size-6:  $font-size--xsmall !default;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
    font-family: $brand-font-family;
}

h1 {
    @include font-size($heading-size-1);
}

h2 {
    @include font-size($heading-size-2);
}

h3 {
    @include font-size($heading-size-3);
}

h4 {
    @include font-size($heading-size-4);
}

h5 {
    @include font-size($heading-size-5);
}

h6 {
    @include font-size($heading-size-6);
}
