// Link element
a {
  @extend %transition;
  color: $color--link;
  text-decoration: none;

  &:visited {
    color: $color--link;
  }

  &:hover {
    color: darken($color--link, 5%);
  }
}

%link-main {
  a {
    padding: 0 .2em;
    border-bottom: 1px dashed lighten($color--link, 15%);

    &:hover {
      color: $color--white;
      background-color: $color--link--hover;
      border-bottom: 0;
    }
  }
}
