@use '../core' as *;
/* Link element */
a {
  @include transition;
  color: $color--link;
  text-decoration: none;

  &:visited {
    color: $color--link;
  }

  &:hover {
    color: $color--link--hover
  }
}