// Colors vars
$color--black: #111;
$color--white: #fff;
$color--red: #ff6e5d;
$color--blue: #6495ed;
$color--yellow: #ffd700;
$color--darkgrey: #424242;
$color--lightgrey: #f2f2f2;

$color--text: $color--black;
$color--link: $color--red;
$color--link--hover: darken($color--link, 5%);
$color--main: $color--red;
$color--secondary: $color--blue;