/* Colors vars */
$color--black: #334755;
$color--white: #fff;
$color--red: #DC9604;
$color--blue: #6495ed;
$color--yellow: #ffd700;
$color--darkgrey: #424242;
$color--grey: #3E5667;
$color--lightgrey: #EFEEEF;

$color--text: $color--black;
$color--link: $color--red;
$color--link--hover: darken($color--link, 5%);
$color--main: $color--red;
$color--secondary: $color--blue;
