/*------------------------------------*\
    #COLOR SETTINGS
\*------------------------------------*/

$text-color:       #111;
$background-color: #fff;
$white-color:      #fff;

$brand-color:      #ff6e5d;
$brand-color-light: lighten($brand-color, 10%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
