/*------------------------------------*\
    #RESPONSIVE SETTINGS
\*------------------------------------*/

// Width of the content area
$content-width:      1170px;

/* phones */
$on-mobile:            480px;
$on-mobile-unitless:   480;

/* tablets */
$on-palm:            601px;
$on-palm-unitless:   601;

/* desktop */
$on-laptop:          940px;
$on-laptop-unitless: 940;
