/*------------------------------------*\
    #SPACING SETTINGS
\*------------------------------------*/

$base-line-height:            1.5;

$base-spacing-unit:           $base-line-height;
$base-spacing-unit--tiny:     round($base-spacing-unit / 4);
$base-spacing-unit--small:    round($base-spacing-unit / 2);
$base-spacing-unit--medium:   ($base-spacing-unit * 1.3);
$base-spacing-unit--large:    round($base-spacing-unit * 2);
$base-spacing-unit--huge:     round($base-spacing-unit * 4);
