/* Types vars */

//$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-base: 'IBM Plex Sans', sans-serif;
$font-main: 'IBM Plex Serif', serif;

$font-weight--xbold: 700;
$font-weight--bold: 600;
$font-weight--base: 400;
$font-weight--thin: 300;

$font-size-browser: 16px;

/* Perfect Fifth Scale [http://type-scale.com/] */
$font-size--huge: 5.063;    // 81px
$font-size--xlarge: 3.375;  // 54px
$font-size--large: 2.25;    // 36px
$font-size--xmedium: 1.75;  // 28px
$font-size--medium: 1.5;    // 24px
$font-size--base: 1;        // 16px
$font-size--small: .8;      // 12.8px
$font-size--tiny: .64;      // 10.24px