/* Types vars */

//$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-base: 'IBM Plex Sans', sans-serif;
$font-main: 'IBM Plex Serif', serif;

$font-weight--bold: 700;
$font-weight--base: 400;
$font-weight--thin: 400;

$font-size-browser: 16px;

/* Perfect Fifth Scale [http://type-scale.com/] */
$font-size--huge: 5.063;
$font-size--xlarge: 3.375;
$font-size--large: 2.25;
$font-size--xmedium: 1.75;
$font-size--medium: 1.5;
$font-size--base: 1;
$font-size--small: .8;
$font-size--tiny: .64;
