/*------------------------------------*\
    #HEADINGS TRUMPS
\*------------------------------------*/

$uvp-font-size-px: 30;
$uvp-font-size-px--small: 60;
$uvp-font-size-px--medium: 90;
$uvp-font-size-px--hero: 108;

%uvp-title {
    margin: 4.5rem 0;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-palm, min-width) {
        margin: 10rem 0;
    }

    hr {
      max-width: 8.75rem;
      margin: 1.1rem 0 .5rem;
      border: 2px solid $brand-color;
      @include media-query($on-palm, min-width) {
        margin: 2.8rem 0 1.5rem;
        border: 5px solid $brand-color;
      }
    }
}

.uvp-title {
    @extend %uvp-title;

    &--small {
        @extend %uvp-title;
        @include fluid-typo($uvp-font-size-px, $uvp-font-size-px--small, $on-mobile-unitless, $on-laptop-unitless);
    }

    &--medium {
        @extend %uvp-title;
        @include fluid-typo($uvp-font-size-px, $uvp-font-size-px--medium, $on-mobile-unitless, $on-laptop-unitless);
    }

    &--hero {
        @extend %uvp-title;
        @include fluid-typo($uvp-font-size-px, $uvp-font-size-px--hero, $on-mobile-unitless, $on-laptop-unitless);
        line-height: .9;
    }
}
