/*------------------------------------*\
    #SHAME TRUMPS
\*------------------------------------*/

.section-title {
    flex: 0 0 20%;
    h2 {
        @include font-size(1);
        text-transform: uppercase;
        color: $brand-color;
        font-weight: bold;
    }
}

.content {
    flex: 0 0 80%;
    h3 {
        @include font-size(1);
    }
    ul {
        padding-left: 22px;
        li {
            list-style-type: circle;
        }
    }
    &.skills {
        ul {
            list-style: none;
        }
    }
}

.text {
    @include font-size(1.1);
    ul {
        list-style: none;
        li {
            margin-bottom: .5em;
        }
    }
    .see-more {
        display: block;
        @include font-size(1);
    }
}

.print-me {
    position: fixed;
    bottom: 50%;
    right: -1px;
    transition: all 100ms;
    transform: translate(60%, 0);
    background-color: #FFF;
    svg {
        width: 32px;
        height: 32px;
        path {
            fill: $brand-color;
        }
    }
    button {
        border-right: 0px;
    }
    &:hover {
        transition: all 200ms;
        transform: translate(0, 0);
    }
}
