/* Utilities trump */


/* center */

%center,
.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

%block-center,
.block-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* clearfix */

%clearfix,
.clearfix {
  clear: both;
}


/* transition */

%transition,
.transition {
  transition-duration: 400ms;
}


/* alignements */

.text-left,
%text-left {
  text-align: left;
}

.text-center,
%text-center {
  text-align: center;
}

.text-right,
%text-right {
  text-align: right;
}


/* text helpers */

strong,
.bold {
  font-weight: $font-weight--bold;
}

.emphase {
  @extend %italic;
  color: $color--main;
}

em,
%italic,
.italic {
  font-style: italic;
  font-weight: $font-weight--thin;
  color: $color--grey;
}

s {
  @include font-size($font-size--base);
  color: $color--grey;
}

.uppercase,
%uppercase {
  text-transform: uppercase;
}

.lowercase,
%lowercase {
  text-transform: lowercase;
}

.title-sub--over {
  @include font-size($font-size--base);
  font-weight: $font-weight--thin;
  color: $color--grey;
}

.color-grey {
  color: $color--grey;
}

.large-post-image {
  @include media($content) {
    margin-left: -22%;
    margin-right: -22%;
  }
}

.img-shadowed {
    position: relative;
    max-width: 250px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.40);
    border-radius: 50%;
    img {
      position: relative;
      z-index: -1;
      border-radius: 50%;
    }
}

.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Joker font size */
.joker-fs {
  @include fluid-typo(26, 33, $phone-h-computed, $desktop-computed);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


/* List utilities */
.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}
