/* Grid tools */

%container,
.container {
  max-width: $post-width;
  margin: 2em auto 0;
  padding: $spacing--medium $spacing--base;
}

.row,
%row {
  @extend %clearfix;
  position: relative;
  width: 100%;
  padding-right: $spacing--small;
  padding-left: $spacing--small;
  margin: 1em 0;
  overflow: hidden;
}

.row-flex,
%row-flex {
  @extend %row;
  display: flex;
}

.col-half--left {
  @include media($small-tab) {
    float: left;
    width: 48%;
    margin: 1%;
  }
  float: none;
  width: 100%;
  margin: 1em 0;
}

.col-half--right {
  @include media($small-tab) {
    float: right;
    width: 48%;
    margin: 1%;

  }
  float: none;
  width: 100%;
  margin: 1em 0;
}

.col-two-third {
  @include media($tab-h) {
    float: left;
    width: 62%;
    margin: 1%;
  }
  float: none;
  width: 100%;
  margin: 1em 0;
  
}

.col-third {
  @include media($tab-h) {
    float: left;
    width: 31%;
    margin: 1%;
  }
  float: none;
  width: 100%;
  margin: 1em 0;
}
