/*------------------------------------*\
    #COMMON MIXINS
\*------------------------------------*/

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
