<header class="site-header no-print" role="banner">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
        {% if site.logo %}
        <img src="{{ site.logo }}" alt="{{ site.title[page.lang] }}" width="48" height="48"/>
        {{ site.title[page.lang] }}
        {% else %}
        {{ site.title[page.lang] }}
        {% endif %}
      </a>
  </h1>

    <div class="menu-icon-container" id="toggler">
      <a href="" class="menu-icon" role="button">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
        <span class="label">menu</span>
      </a>
      <div class="overlay"></div>
    </div>

    <div class="trigger nav-container" id="menu">
      <nav class="site-nav" role="navigation">
        <a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.home[page.lang] }}</a>

        {% assign pages=site.pages | where:"lang", page.lang %}
        {% for my_page in pages %}
          {% if my_page.menu_title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.menu_title | escape }}</a>
          {% endif %}
        {% endfor %}

        <a href="{{ site.contact.mailto[page.lang] }}">{{ site.contact.item_menu[page.lang] }}</a>
        <div class="lang">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a>
          {% if forloop.first == true %}
          <span class="separator">&bull;</span>
          {% endif %}
          {% endfor %}

          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
          <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a>
          {% if forloop.first == true %}
          <span class="separator">&bull;</span>
          {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>

</header>
