<ul class="social-media-list center">
  <li>
    <a href="https://github.com/{{ site.github_username }}" class="has-tooltip" target="_blank"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="tooltip">Github</span></a>
  </li>
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}" class="has-tooltip" target="_blank"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="tooltip">Twitter</span></a>
  </li>
  <li>
   <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="has-tooltip" target="_blank"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span><span class="tooltip">Linkedin</span></a>
 </li>
 <li>
   <a href="http://codepen.io/{{ site.codepen_username }}" class="has-tooltip" target="_blank"><span class="icon icon--codepen">{% include icon-codepen.svg %}</span><span class="tooltip">Codepen</span></a>
 </li>
 <li>
   <a href="https://www.youtube.com/user/{{ site.youtube_username }}" class="has-tooltip" target="_blank"><span class="icon icon--youtube">{% include icon-youtube.svg %}</span><span class="tooltip">Youtube</span></a>
 </li>
 <li>
   <a href="{{ site.contact.mailto[page.lang] }}" class="has-tooltip" target="_blank"><span class="icon icon--email">{% include icon-email.svg %}</span><span class="tooltip">Email</span></a>
 </li>
</ul>