// Blockquote component
%blockquote,
blockquote {
  @include font-size($font-size--medium);

  position: relative;
  display: block;
  max-width: 80%;
  padding: $spacing--small;
  font-family: $font-base;
  font-weight: $font-weight--base;
  line-height: 1.45;
  color: $color--text;
  text-align: justify;

  &.left {
    float: left;
    max-width: 50%;
    margin: 0 1em 0 0;
  }

  &.right {
    float: right;
    max-width: 50%;
    margin: 0 0 0 1em;
  }

  &.small {
    @include font-size($font-size--base);
  }

  &.full {
    max-width: 100%;
  }

  &::after {
    content: '';
    display: block;
    width: 50%;
    height: .235rem;
    margin-top: .8rem;
    background-color: $color--text;
  }

  @include media($small-tab, max-width) {
    max-width: 100%;
    margin: 1em auto;
  }
}
