@use '../core' as *;
// Blockquote component
%blockquote,
blockquote {
  font-size: var(--font-size-md);

  position: relative;
  display: block;
  max-width: 80%;
  padding: $spacing--sm;
  margin: 0;
  font-family: $font-base;
  font-weight: $font-weight--base;
  line-height: 1.5;
  color: $color--text;

  &.left {
    float: left;
    max-width: 50%;
    margin: 0 1em 0 0;
  }

  &.right {
    float: right;
    max-width: 50%;
    margin: 0 0 0 1em;
  }

  &.small {
    font-size: 1.125rem;
  }

  &.full {
    max-width: 100%;
  }

  &::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    margin-top: 0.8rem;
    background-color: $color--main;
  }

  @include media($small-tab, max-width) {
    max-width: 100%;
    margin: 1em auto;
  }

  .author {
    margin: $spacing--base 0 !important;
    font-weight: $font-weight--bold;
  }

  &.home {
    padding: $spacing--2xl;
    margin-bottom: $spacing--xl;
    font-size: var(--font-size-body);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media($small-tab, max-width) {
      .content {
        min-height: 235px;
      }
    }

    .author {
      text-align: right;
      font-size: var(--font-size-body);

      .title {
        display: block;
        color: $color--darkgrey;
        font-weight: $font-weight--base;
        font-size: var(--font-size-sm);
      }
    }
  }
}