.emphasize-box {
    background-color: #F4F2EE;
    padding: $spacing--3xl;
    margin-bottom: $spacing--lg;
    @include fluid-typo(18, 18, $phone-h-computed, $desktop-computed);
    font-weight: $font-weight--bold;
    border-radius: $spacing--base;

    .heading {
        font-family: $font-base;
        @include fluid-typo(18, 20, $phone-h-computed, $desktop-computed);
    }

    .support {
        color: #4F6677;
        @include fluid-typo(18, 18, $phone-h-computed, $desktop-computed);
        font-weight: $font-weight--base;
        margin-top: $spacing--sm!important;
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.numbers {
        padding: $spacing--base;
        border-left: 6px $color--main solid;
        border-radius: 0;
        .heading {
            margin-bottom: 0;
            @include fluid-typo(28, 34, $phone-h-computed, $desktop-computed);
        }

        .sub {
            margin-bottom: 0;
        }
    }

    &.mono {
        background-color: $color--white;
        border: 1px solid $color--black;
    }
}

.emphasize-tag {
    display: inline-block;
    background-color: #F4F2EE;
    padding: $spacing--2xs $spacing--xs;
    @include fluid-typo(18, 18, $phone-h-computed, $desktop-computed);
    font-weight: $font-weight--bold;
    border-radius: $spacing--xs;
}