// Intro title component
$intro-font-size: 33;
$intro-font-size--small: 54;
$intro-font-size--medium: 62;
$intro-font-size--hero: 76;

%intro-title {
  @extend %container;
  @include media($tab-v, max-width) {
    padding-right: $spacing--base;
    padding-left: $spacing--base;
    margin-top: 1rem;
  }
  @include fluid-typo($intro-font-size, $intro-font-size--small, $phone-h-computed, $desktop-computed);
  padding-right: 0;
  padding-left: 0;
  margin: 8rem auto 3rem;
  font-family: $font-main;
  font-weight: $font-weight--bold;
  line-height: 1;
  letter-spacing: -1px;

  hr {
    @include media($tab-h, min-width) {
      margin: $spacing--large 0 $spacing--medium;
    }
    @include font-size($font-size--base);
    max-width: 8.75rem;
    margin: $spacing--base 0 $spacing--tiny;
    border: .3125em solid $color--main;
  }

  .smaller {
    font-size: 80%;
  }
}

.intro-title {
  @extend %intro-title;

  &--medium {
    @extend %intro-title;
    @include fluid-typo($intro-font-size, $intro-font-size--medium, $phone-h-computed, $desktop-computed);
  }

  &--hero {
    @extend %intro-title;
    @include fluid-typo($intro-font-size, $intro-font-size--hero, $phone-h-computed, $desktop-computed);
  }
}