// Intro desc component
$intro-font-size: 16;
$intro-font-size--small: 20;

.intro-desc {
  @extend %container;
  @include fluid-typo($intro-font-size, $intro-font-size--small, $phone-h-computed, $desktop-computed);
  @include media($tab-v, max-width) {
    padding: 0 $spacing--base $spacing--2xl;
  }
  padding: $spacing--5xl $spacing--base;

  @include media($tab-v, max-width) {
    figure {
      margin: 1em 0;
      max-width: 150px;
        img {
          max-width: 150px;
          max-height: 150px;
        }
    }
  }
}
