@use '../core' as *;
// Intro desc component
.intro-desc {
  @extend %container;
  font-size: var(--font-size-body);
  padding: $spacing--5xl $spacing--base;

  @include media($tab-v, max-width) {
    padding: 0 $spacing--base $spacing--2xl;
  }

  @include media($tab-v, max-width) {
    figure {
      margin: 1em 0;
      max-width: 150px;
        img {
          max-width: 150px;
          max-height: 150px;
        }
    }
  }
}