// post list title


// Post list container
.post-list-container {
  @include media($tab-v, max-width) {
    margin-top: 0;
    padding-top: 0;
  }
}

// Post list component
.post-list {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  .post-item {
    @extend %transition;
    @include media($tab-h) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:nth-child(even) {
        .post-content {
          padding-left: 1.375rem;
          padding-right: 0;
        }
      }
    }
    padding: $spacing--2xl;
    border: 1px solid $color--lightgrey;

    &:hover {
      background-color: $color--lightgrey;
    }

    &:nth-child(odd) {
      .post-img {
        order: 2;
      }
    }
  }

  .post-img {
    @include media($tab-h) {
      width: 46.5%;
      flex-shrink: 0;
    }
    margin-bottom: 1em;
    text-align: center;
  }

  .post-content {
    @include media($tab-h) {
      width: 50%;
      padding-right: 1.375rem;
      padding-left: 0;
    }
    padding: 0 2.5rem;

  }

  .post-link {
    display: block;
    color: inherit;
  }

  .post-title {
    @include font-size($font-size--medium);
    color: $color--black;
    margin: 0;
    line-height: 1.4;
  }

  .post-meta {
    display: inline-flex;
    margin-bottom: $spacing--2xs;
    padding: $spacing--2xs $spacing--xs;
    @include font-size($font-size--small);
    line-height: 1rem;
    font-weight: 400;
    color: $color--darkgrey;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(163, 97, 22, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border-radius: 9999px;
  }

  &.featured {
    .post-item {
      flex-flow: column;

      &:nth-child(odd) {
        .post-img {
          order: initial;
        }
      }
    }
    .post-img,
    .post-content {
      width: auto;
    }
    .post-link {
      min-height: 115px;
    }
  }
}
