// Post component
.post {

  .post-title {
    @extend %intro-title;
  }

  .post-content {
    h2 {
      @include fluid-typo(28, 36, $phone-h-computed, $desktop-computed);
    }

    h3 {
      @include fluid-typo(24, 28, $phone-h-computed, $desktop-computed);
    }

    p {
      @include fluid-typo(18, 20, $phone-h-computed, $desktop-computed);
      line-height: 1.6;

      &.excerpt {
        @include fluid-typo(20, 20, $phone-h-computed, $desktop-computed);
      }
    }

    li {
      @include fluid-typo(18, 18, $phone-h-computed, $desktop-computed);
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    &.enhanced {
      h2 {
        margin: 0;
        padding: 0 0 $spacing--2xl;
      }
      h3 {
        margin: 0;
        padding: 0 0 $spacing--lg;
      }
      p {
        margin-top: 0;
        padding: 0;
      }
      .container, .container-lg, .container-xl, .container-fluid {
        > .row {
          padding-top: $spacing--2xl;
          padding-bottom: $spacing--2xl;
        }
      }
    }
  }
}

figure.fit-cover {
    img{
      object-fit: cover;
      width: 100%;
    }
}