// Post component
.post {

  .post-title {
    @extend %intro-title
  }

  .post-content {
    @extend %container;

    p {
      @include fluid-typo(18, 18, $phone-h-computed, $desktop-computed);
      line-height: 1.6em;
    }

    li {
      @include fluid-typo(18, 18, $phone-h-computed, $desktop-computed);
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
