// Table case study component
.table-case-study {
  @include media($tab-v, max-width) {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  tr {
    &:nth-of-type(odd) {
      background-color: $color--lightgrey;
    }
  }

  td {
    padding: .315rem .625rem;

    &:first-of-type {
      font-weight: bold;
    }
  }
}
