/* Header objects */
.site-header {
  @include media($tab-v) {
    position: fixed;
    top: 16px;
    left: 1rem;
    z-index: 999;
    width: calc(100% - 2rem);
  }

  position: relative;
  width: 100%;
  min-height: 70px;
  padding: 0 $spacing--small;
  background-color: rgba(255, 255, 255, .9);

  .home & {
    background-color: transparent;
  }
}

.site-title {
  font-family: $font-main;
  font-weight: $font-weight--bold;
  line-height: 60px;
  letter-spacing: -1px;
  color: $color--darkgrey;
  text-transform: uppercase;

  &:hover,
  &:visited {
    color: $color--darkgrey;
  }
}
