/* Header objects */
.site-header {
  @include media($tab-v) {
    position: fixed;
    top: 6px;
    left: 6px;
    z-index: 999;
    width: calc(100% - 12px);
  }

  position: relative;
  width: 100%;
  min-height: 70px;
  padding: 0 $spacing--sm;
  background-color: rgba(255, 255, 255, .9);

  /*.home & {
    background-color: transparent;
  }*/
}

.site-title {
  margin-top: 6px;
  font-size: 1.125rem;
  font-family: $font-main;
  font-weight: $font-weight--xbold;
  line-height: 60px;
  letter-spacing: -1px;
  color: $color--darkgrey;
  text-transform: uppercase;

  &:hover,
  &:visited {
    color: $color--darkgrey;
  }

  a {
    color: inherit;
  }

  img {
    margin-right: .3125rem;
  }
}
