/* Header objects */
.site-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  min-height: 70px;
  padding: 0 $spacing--small;
  background: rgba(255, 255, 255, .9);
  border-top: 5px solid $color--main;
}

.site-title {
  font-family: $font-main;
  font-weight: $font-weight--bold;
  line-height: 60px;
  letter-spacing: -1px;
  color: $color--darkgrey;
  text-transform: uppercase;

  &:hover,
  &:visited {
    color: $color--darkgrey;
  }
}
