/**
 * Site header
 */

.site-header {
    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
    top: 0;
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;
    background: rgba($background-color, .9);
}

.site-title {
    @include font-size(1);
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $base-spacing-unit + em / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            > svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $base-spacing-unit + em 0;
}

.footer-heading {
    @include font-size(1.125);
    margin-bottom: $base-spacing-unit + em / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include font-size(0.938);
    color: $grey-color;
    margin-left: -$base-spacing-unit + em / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $base-spacing-unit + em / 2;
    padding-left: $base-spacing-unit + em / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$base-spacing-unit + em} / 2));
    width: calc(35% - (#{$base-spacing-unit + em} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$base-spacing-unit + em} / 2));
    width: calc(20% - (#{$base-spacing-unit + em} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$base-spacing-unit + em} / 2));
    width: calc(45% - (#{$base-spacing-unit + em} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$base-spacing-unit + em} / 2));
        width: calc(50% - (#{$base-spacing-unit + em} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$base-spacing-unit + em} / 2));
        width: calc(100% - (#{$base-spacing-unit + em} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$base-spacing-unit + em} / 2));
        width: calc(100% - (#{$base-spacing-unit + em} / 2));
    }
}


/**
 * Page content
 */

.page-content {
    padding: $base-spacing-unit + em 0;
}

.page-heading {
    @include font-size(1.25);
}




/**
 * Posts
 */


.post-header {
    margin-bottom: $base-spacing-unit + em;
}

.post-title {
    @include font-size(2.6);
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        @include font-size(2.25);
    }
}


.post-list {
    margin-left: 0;
    list-style: none;
    h2 {
        margin-top: .3em;
    }
    > li {
        padding: 1.5rem;
        border-top: 1px solid $grey-color-light;
        border-bottom: 1px solid $grey-color-light;
        a {
            color: $text-color;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include font-size(1.5);
}

.post-content {
    margin-bottom: $base-spacing-unit + em;
    h2, p {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .large {
        p {
            width: 100%;
        }
    }
}

