/*------------------------------------*\
    #POST OBJECTS
\*------------------------------------*/

%post-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    @include media-query($on-palm) {
        width: 100%;
    }
}

.post {
    margin-bottom: 5rem;
}

.post-header {
    @extend %post-container;
    margin-bottom: $base-spacing-unit + em;
}

.post-title {
    @include font-size(2.6);
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        @include font-size(2.25);
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
    @include media-query($on-palm) {
        padding-left: 0;
    }
    h2 {
        margin-top: .3em;
        @include font-size(1.5);
    }
    > li {
        padding: 1.5rem;
        border-top: 1px solid $grey-color-light;
        a {
            color: $text-color;
        }
    }
}

.post-meta {
    @include font-size($font-size--small);
    color: $grey-color;
}

.post-link {
    display: block;
    @include font-size(1.5);
}

.post-wip {
    opacity: .6;
}

.post-content {
    margin-bottom: $base-spacing-unit * 1em;
    > * {
        @extend %post-container;
    }
    .large {
        width: 100%;
        > * {
            width: 100%;
        }
    }
    h2 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-weight: bolder;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    p {
        color: #666;
        line-height: $base-spacing-unit--medium;
    }
}

