<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
    <script type="text/javascript" src="{{ "/js/lazyload.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/js/main.js" | relative_url }}"></script>
  </body>

</html>
