<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body {% if page.layout == 'index' %}class="home"{% endif %}>

    {% include header.html %}

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif:400,700" rel="stylesheet">
    <script type="text/javascript" src="{{ "/js/lazyload.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/js/main.min.js" | relative_url }}"></script>
  </body>

</html>
