---
layout: default
---

<h1 class="intro-title--hero">
  <div class="animated shake delay--small">{{ site.data[page.lang].hero.title }}</div>
  <hr/>
  <div class="animated fade-in-left delay--medium smaller">{{ site.data[page.lang].hero.job_line_1 }}</div>
  <div class="animated fade-in-right delay--medium smaller">{{ site.data[page.lang].hero.job_line_2 }}</div>
</h1>

<section>
  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
    <li class="row">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <span class="col-half--left">
          <h3 class="post-title">
            {{ post.title }}
          </h3>
          <span class="post-meta">{{ post.theme }}</span>
        </span>
        <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="col-half--right"/>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
